@font-face {
  font-family: 'TrebuchetMS';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/TrebuchetMS/TrebuchetMS.eot'),
    url('../fonts/TrebuchetMS/TrebuchetMS.woff') format('woff'),
    url('../fonts/TrebuchetMS/TrebuchetMS.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo2.0-Thin';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Exo2.0-Thin/Exo2.0-Thin.otf') format('opentype');
}
